# /api/.htaccess

RewriteEngine On

# S'assure que la requête n'est pas pour un fichier ou un dossier qui existe déjà
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige toutes les autres requêtes vers index.php
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
